<%= form_for(setup_application(@application)) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :student_name, "Student Name" %>
    <%= f.text_field :student_name %>
  </div>
  <div>
    <%= f.label :major %>
    <%= f.text_field :major %>
  </div>
  <div>
    <%= f.label :location, 'City' %>
    <%= f.text_field :location %>
  </div>
  <div>
    <%= f.label :zone %>
    <%= f.select :zone, ['Mainland China', 'USA', 'Canada', 'Australia', 'UK', 'Hong Kong' 'Other'] %>
  </div>
  <div>
    <%= f.label :gender %>
    <%= f.text_field :gender %>
  </div>
  <div>
    <%= f.label :year %>
    <%= f.text_field :year %>
  </div>

  <div>
    <%= f.label :note, "Additional Notes (Awards, Personal Circumstances):" %><br>
    <%= f.text_area :note%>
  </div>

  <h2>Test Scores</h2>
  <%= f.fields_for :test_scores do |ff| %>
    <div>
      <%= ff.label :category %>
      <%= ff.select :category, ['SAT', 'SAT Subject Test', 'ACT', 'AP', 'TOEFL', 'IB', 'Other'], include_blank: true %>

      <%= ff.label :subject %>
      <%= ff.text_field :subject %>

      <%= ff.label :score %>
      <%= ff.number_field :score %>

      <%= ff.label :date, 'Exam Date' %>
      <%= ff.text_field :date %>

      <% if ff.object.persisted? %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Destroy" %>
      <% end %>
    </div>
  <% end %>

  <h2>Extracurriculars</h2>
  <div>
    <h5>
    <%= f.label :study_abroad, "Study Abroad Experience" %>
    <%= f.check_box :study_abroad %>
    </h5>
  </div>
  <%= f.fields_for :extracurriculars do |ff| %>
    <div>
      <%= ff.label :name %>
      <%= ff.text_field :name %>

      <%= ff.label :category %>
      <%= ff.select :category, ['School Club', 'Sport', 'Summer Camp', 'Volunteer', 'Internship', 'Work', 'Hobby', 'Other'], include_blank: true %>

      <%= ff.label :position %>
      <%= ff.text_field :position %>

      <%= ff.label :description %>
      <%= ff.text_area :description %>

      <%= ff.label :start_date %>
      <%= ff.text_field :start_date %>

      <%= ff.label :end_date %>
      <%= ff.text_field :end_date %>

      <% if ff.object.persisted? %>
        <%= ff.check_box :_destroy %>
        <%= ff.label :_destroy, "Destroy" %>
      <% end %>
    </div>
  <% end %>

  <h2>Schools</h2>
  <%= f.fields_for :admits do |ff| %>
    <div>
      <%= ff.check_box :_destroy,
            {:checked => ff.object.persisted?},
            '0', '1'
      %>
      <%= ff.label :_destroy, ff.object.school.name %>

      <%= ff.hidden_field :school_id %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
