<p></p>
<div class="container">
    <% if current_user.admin? %>
      <%= link_to 'Add Application', new_application_path, {class: "btn btn-primary btn-sm", role: "button"} %>
    <% end %>

      <div class="row">
        <% @applications.in_groups_of(3) do |app1, app2, app3| %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-block">
              <h5 class="card-title"><%= link_to "#{app1.student_name}, #{app1.location}, #{app1.year}", app1 %></h5>
              <p class="card-text">
                Math: <%= app1.test_scores.find_by(category: "SAT", subject: "Math") ? app1.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %> |
                CR: <%= app1.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app1.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %> |
                Writing: <%= app1.test_scores.find_by(category: "SAT", subject: "Writing") ? app1.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
                <br>
                <strong><%= app1.schools.limit(3).map{|school| school.name}.join(', ') %></strong>

              </p>
              <% if current_user.admin? %>
              <%= link_to 'Add Essay', new_application_essay_path(app1), {class: "btn btn-secondary btn-sm", role: "button"} %>
              <%= link_to 'Edit', edit_application_path(app1), {class: "btn btn-secondary btn-sm", role: "button"} %>
              <%= link_to 'Delete', app1, {method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm", role: "button"} %>
              <% end %>
            </div>
          </div>
          <% if app2 %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-block">
                <h5 class="card-title"><%= link_to "#{app2.student_name}, #{app2.location}, #{app2.year}", app2 %></h5>
                <p class="card-text">
                  Math: <%= app2.test_scores.find_by(category: "SAT", subject: "Math") ? app2.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %> |
                  CR: <%= app2.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app2.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %> |
                  Writing: <%= app2.test_scores.find_by(category: "SAT", subject: "Writing") ? app2.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
                  <br>
                  <strong><%= app2.schools.limit(3).map{|school| school.name}.join(', ') %></strong>
                </p>
                <% if current_user.admin? %>
                <%= link_to 'Add Essay', new_application_essay_path(app2), {class: "btn btn-secondary btn-sm", role: "button"} %>
                <%= link_to 'Edit', edit_application_path(app2), {class: "btn btn-secondary btn-sm", role: "button"} %>
                <%= link_to 'Delete', app2, {method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm", role: "button"} %>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if app3 %>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="card card-block">
              <h5 class="card-title"><%= link_to "#{app3.student_name}, #{app3.location}, #{app3.year}", app3 %></h5>
                <p class="card-text">
                  Math: <%= app3.test_scores.find_by(category: "SAT", subject: "Math") ? app3.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %> |
                  CR: <%= app3.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app3.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %> |
                  Writing: <%= app3.test_scores.find_by(category: "SAT", subject: "Writing") ? app3.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
                    <br>
                    <strong><%= app3.schools.limit(3).map{|school| school.name}.join(', ') %></strong>

                  </p>
                  <% if current_user.admin? %>
                  <%= link_to 'Add Essay', new_application_essay_path(app3), {class: "btn btn-secondary btn-sm", role: "button"} %>
                  <%= link_to 'Edit', edit_application_path(app3), {class: "btn btn-secondary btn-sm", role: "button"} %>
                  <%= link_to 'Delete', app3, {method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary btn-sm", role: "button"} %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

  </div>