<p id="notice"><%= notice %></p>

<div class="blog-header">
      <div class="container">
        <h2 class="blog-title"><%= @application.student_name %></h1>
        <p class="lead blog-description">
          <%= @application.location %>, <%= @application.year %>, <% if @application.gender == 'm'%>Male<% else %>Female<% end %>
          <br>
          Major: <%= @application.major %>
          <br>
          <% if current_user.admin? %>
              <%= link_to 'Edit', edit_application_path(@application), {class: "btn btn-secondary", role: "button" }%>
          <% end %>
        </p>
      </div>
    </div>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Test Scores</h2>
            <h4>SAT</h4>
            <h4>TOEFL</h4>
            <h4>AP</h4>
            <h4>Other</h4>
            <% @test_scores.each do |ts| %>
              <p>Category: <%= ts.category %></p>
              <p>Subject: <%= ts.subject %></p>
              <p>Score: <%= ts.score %></p>
              <p>Date Taken: <%= ts.date %></p>
            <% end %>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Extracurriculars</h2>
            <p><em><% if @application.study_abroad %>Student has studied abroad <% else %> Student has not studied abroad <% end %></em></p>
            <% @extracurriculars.each do |ec| %>
              <p>Name: <%= ec.name %></p>
              <p>Category: <%= ec.category %></p>
              <p>Position: <%= ec.position %></p>
              <p>Start Date: <%= ec.start_date %></p>
              <p>End Date: <%= ec.end_date %></p>
              <p>Description: <%= ec.description %></p>
            <% end %>
          </div><!-- /.blog-post -->

          <div class="blog-post">
            <h2 class="blog-post-title">Essays</h2>

            <% @essays.each do |essay| %>
              <% if essay.prompt %>
              <p>(<%=essay.prompt.school.name%>)<%=essay.prompt.content %>:
              <% else %>
              <p>(Prompt Not Available):
              <% end %>
              <%=link_to essay.title, essay_path(essay) %></p>
            <% end %>
          </div><!-- /.blog-post -->

          <nav>
            <ul class="pager">
            <li><%= link_to 'Return to Applications', applications_path %></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Notes</h4>
            <p>None</p>
          </div>
          <div class="sidebar-module">
            <h4>Schools Applied For</h4>
            <ol class="list-unstyled">
              <% @schools.each do |school| %>
              <li><a href="#"><%= link_to "#{school.name}, #{school.country}", school_path(school) %></a></li>
              <% end %>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->


