
<% if !user_signed_in? %>
  <section class="jumbotron text-xs-center">
      <h1 class="jumbotron-heading">Welcome!</h1>
      <p class="lead">Login to get started.</p>
      <p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
  </section>
<% end %>
<div class="container main-index">

  <div class="mini-nav row">
    <div class="col-lg-4 school-label">
      <div class="school-unit nowrap"><strong>Schools</strong></div>
    </div>
    <div class="col-lg-8">
      <div class="school-unit nowrap"><%= link_to "UCLA |", school_path(@ucla) %></div>
      <div class="school-unit nowrap"><%= link_to "Stanford |", school_path(@stanford) %></div>
      <div class="school-unit nowrap"><%= link_to "USC |", school_path(@usc) %></div>
      <div class="school-unit nowrap"><%= link_to "MIT |", school_path(@mit) %></div>
      <div class="school-unit nowrap"><%= link_to "UC Berkeley |", school_path(@ucb) %></div>
      <div class="school-unit nowrap"><strong><%= link_to "More Schools", schools_path%></strong></div>
    </div>
  </div>
  <hr>
  <div class="row">
    <h5 class="home-header">Latest Additions:</h5>
    <% @applications.each do |app| %>
        <div class="main-app">
          <p class="app-header"><%= link_to "#{app.student_name}, #{app.location}, #{app.year}", app %></p>
          <p>
          <% if app.test_scores.find_by(category: "SAT") %>
            <%= app.test_scores.find_by(category: "SAT", subject: "Math") ? app.test_scores.find_by(category: "SAT", subject: "Math").score.to_s + "M, " : "" %>
            <%= app.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app.test_scores.find_by(category: "SAT", subject: "Critical Reading").score.to_s + "CR, " : "" %>
            <%= app.test_scores.find_by(category: "SAT", subject: "Writing") ? app.test_scores.find_by(category: "SAT", subject: "Writing").score.to_s + "W" : "" %>
            <br>
          <% end %>

          <% if app.test_scores.find_by(category: "ACT", subject: "Composite") %>
           ACT Composite: <%= app.test_scores.find_by(category: "ACT", subject: "Composite").score%>
           <br>
          <% end %>
            <strong>Applied for:</strong> <%= app.schools.map{|school| school.name}.join(', ') %>
            <br>
            <em><%= simple_format(app.note) %></em>
          </p>
        </div>
    <% end %>
  </div>
</div>
