<% if !user_signed_in? %>
  <section class="jumbotron text-xs-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome!</h1>
      <p class="lead text-muted">Login to get started.</p>
      <p>
        <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
  </section>
<% end %>
<div class="album text-muted">
  <div class="container">
    <div class="row">
      <% @applications.in_groups_of(3) do |app1, app2, app3| %>
          <div class="col-md-6 col-lg-4">
            <h4><%= link_to "#{app1.student_name}, #{app1.location}, #{app1.year}", app1 %></h4>
            <p>
              Math: <%= app1.test_scores.find_by(category: "SAT", subject: "Math") ? app1.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %>
              CR: <%= app1.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app1.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %>
              Writing: <%= app1.test_scores.find_by(category: "SAT", subject: "Writing") ? app1.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
              <br>
              <%= app1.schools.map{|school| school.name}.join(', ') %>
              <br>
              <%= app1.note %>
            </p>
          </div>
          <% if app2 %>
          <div class="col-md-6 col-lg-4">
            <h4><%= link_to "#{app2.student_name}, #{app2.location}, #{app2.year}", app2 %></h4>
            <p>
              Math: <%= app2.test_scores.find_by(category: "SAT", subject: "Math") ? app2.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %>
              CR: <%= app2.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app2.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %>
              Writing: <%= app2.test_scores.find_by(category: "SAT", subject: "Writing") ? app2.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
              <br>
              <%= app2.schools.map{|school| school.name}.join(', ') %>
              <br>
              <%= app2.note %>
            </p>
         </div>
         <% end %>
         <% if app3 %>
           <div class="col-md-6 col-lg-4">
              <h4><%= link_to "#{app3.student_name}, #{app3.location}, #{app3.year}", app3 %></h4>
              <p>
                Math: <%= app3.test_scores.find_by(category: "SAT", subject: "Math") ? app3.test_scores.find_by(category: "SAT", subject: "Math").score : "N/A" %>
                CR: <%= app3.test_scores.find_by(category: "SAT", subject: "Critical Reading") ? app3.test_scores.find_by(category: "SAT", subject: "Critical Reading").score : "N/A" %>
                Writing: <%= app3.test_scores.find_by(category: "SAT", subject: "Writing") ? app3.test_scores.find_by(category: "SAT", subject: "Writing").score : "N/A" %>
                <br>
                <%= app3.schools.map{|school| school.name}.join(', ') %>
                <br>
                <%= app3.note %>
              </p>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>