<p id="notice"><%= notice %></p>
  <div class="container">

  <h3>
    Schools
    <% if current_user.admin? %>
      <%= link_to 'Add School', new_school_path, {class: "btn btn-primary", role: "button"} %>
    <% end %>
  </h3>
  <div class="table-responsive">
    <table class="table table-striped">
      <% @categories.each_with_index do |(name,category), index| %>
      <thead>
        <tr>
          <th><%=name%></th>
          <% if index == 0 %>
          <th style="text-align:center">2016 Rank</th>
          <th style="text-align:center">2015 Rank</th>
          <th style="text-align:center">2014 Rank</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% category.each do |school| %>
          <tr>
            <td><%= link_to "#{school.name}", school %></td>
            <td style="text-align:center">
              <% if school.rankings.find_by(year: 2016)%>
                <%= school.rankings.find_by(year: 2016).rank%>
              <% end %>
            </td>
            <td style="text-align:center">
              <% if school.rankings.find_by(year: 2015)%>
                <%= school.rankings.find_by(year: 2015).rank%>
              <% end %>
            </td>
            <td style="text-align:center">
              <% if school.rankings.find_by(year: 2014)%>
                <%= school.rankings.find_by(year: 2014).rank%>
              <% end %>
            </td>
            <% if current_user.admin? %>
            <td style="text-align:center"><%= link_to 'Edit', edit_school_path(school) %> <%= link_to 'Destroy', school, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <% end %>
    </table>
  </div>
</div>