<p></p>
<div class="container">
  <div class="row">
    <div class="blog-post">
      <h3 class="blog-title">
        <%= @school.name %>
        <% if current_user.admin? %>
          <%= link_to 'Edit School Info', edit_school_path(@school), {class: "btn btn-info btn-sm", role: "button" }%>
        <% end %>
      </h3>
      <p class="lead blog-description">
        <%= @school.country %>, <%= @school.category %>
      </p>
    </div>

    <div class="col-sm-7 blog-main">
      <div class="form-border">
        <h5 class="blog-post-title">Prompts</h5>
        <table class="table table-sm">
          <tbody>
            <% @prompts.each do |prompt| %>
              <tr>
                <td><%= prompt.year %></td>
                <td><%= link_to prompt.content, prompt_path(prompt) %></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div><!-- /.blog-post -->

      <div class="form-border">
        <h5 class="blog-post-title">Student Applications</h5>
        <table class="table table-striped table-sm">
          <tbody>
            <tr>
              <th>Year</th>
              <th>Name</th>
              <th>Major</th>
            </tr>
            <% @applications.each do |app| %>
              <tr>
                <td><%= app.year %></td>
                <td><%= link_to app.student_name, application_path(app) %></td>
                <td><%= app.major %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.blog-post -->
    </div><!-- /.blog-main -->
    <div class="col-sm-4 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h5>Ranking</h5>
        <table class="form-border table table-striped table-sm">
          <tbody>
            <% @rankings.each do |ranking| %>
              <tr>
                <td><%= ranking.year %></td>
                <td><%= ranking.rank %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->
  <ul class="pager">
    <li><%= link_to 'Return to Applications', applications_path %></li>
  </ul>

</div><!-- /.container -->



