<%= form_for([@application, @essay], url: url, method: method) do |f| %>
  <% if @essay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@essay.errors.count, "error") %> prohibited this essay from being saved:</h2>

      <ul>
      <% @essay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :category %>
    <%= f.select :category, ['Main Essay', 'Supplement', 'Writing Sample', 'Other'], include_blank: true %>
  </div>

  <div>
    <%= f.label :prompts, "Prompt" %>
    <%= f.collection_select :prompt_id, @application.prompts, :id, :prompt_with_school, include_blank: true %>
  </div>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
