<p></p>
<div class="blog-header container">
  <p>
    <div class="lead blog-description">
      <strong><% if @essay.category == "Main Essay" %>
        Main Essay
      <% elsif @essay.prompt %>
        <%=link_to @essay.prompt.school.name, school_path(@essay.prompt.school) %>: <%= @essay.prompt.content %>
      <% else %>
        <%= @essay.category %>
      <% end %>
      </strong>
      Sentiment: <%= @essay.sentiment %>
    </div>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_essay_path(@essay) %> |
      <%= link_to "Delete", essay_path(@essay), method: :delete, data: {confirm: "Are you sure?"} %>
    <% end %>
  </p>

  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <em><strong><%= @essay.title %></strong></em>
        <p><%= simple_format(@essay.content) %></p>
      </div><!-- /.blog-post -->

      <ul class="pager">
        <li><%= link_to "Return to #{@essay.application.student_name}'s Application", application_path(@essay.application) %></li>
      </ul>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 blog-sidebar  form-border">
      <div class="sidebar-module sidebar-module-inset">
        <% if @app_essays.length > 1 %>
          <h6 style="text-decoration: underline;">Other essays from this student</h6>
          <% @app_essays.each do |essay| %>
            <% if essay != @essay && essay.prompt %>
              <p><%=link_to essay.prompt.content, essay_path(essay) %></p>
              <hr>
            <% elsif essay != @essay %>
              <p><%=link_to essay.category, essay_path(essay) %></p>
              <hr>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <br>
      <% if @prompt_essays && @prompt_essays.length > 1 %>
        <div class="sidebar-module">
            <h6 style="text-decoration: underline;">This essay from other students</h6>
            <ol class="list-unstyled">
              <% @prompt_essays.each do |essay| %>
                <% unless essay == @essay %>
                  <li><%= link_to "#{essay.application.student_name}", essay_path(essay)%></li>
                <% end %>
              <% end %>
            </ol>
        </div>
      <% end %>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->