<p></p>
<div class="blog-header container">
  <div class="lead blog-description essay-header">
    <% if @essay.category != "Supplement" %>
      <%= @essay.category %>:
      <em> <%= @essay.title ? " #{@essay.title}" : "No Prompt" %></em>
    <% else %>
      <%= @essay.prompt.content %>
    <% end %>
    <div class="name-display">
      <% if @essay.prompt %>
        <%=link_to @essay.prompt.school.name, school_path(@essay.prompt.school) %> |
      <% end %>
      Sentiment: <%= @essay.sentiment %>
      <br>
      <%= @essay.application.student_name %>
    </div>
    <% if current_user.admin? %>
      <%= link_to 'Edit', edit_essay_path(@essay), {class: "btn btn-warning-outline btn-sm", type: "button"} %>
      <%= link_to "Delete", essay_path(@essay), {class: "btn btn-danger-outline btn-sm", type: "button", method: :delete, data: {confirm: "Are you sure?"}} %>
    <% end %>

  </div>

  <div class="row">
    <div class="col-sm-9 blog-main">
      <div class="blog-post essay-post">
        <p><%= simple_format(@essay.content) %></p>
      </div><!-- /.blog-post -->

      <ul class="pager">
        <li><%= link_to "Return to #{@essay.application.student_name}'s Application", application_path(@essay.application) %></li>
      </ul>
    </div><!-- /.blog-main -->

    <div class="col-sm-3 blog-sidebar essay-sidebar form-border">
      <div class="sidebar-module sidebar-module-inset">
        <% if @app_essays.length > 1 %>
          <h6 style="text-decoration: underline;">Other essays from this student</h6>
          <% @app_essays.each do |essay| %>
            <% if essay != @essay %>
             <% if essay.category == "Supplement" && essay.prompt %>
              <p><%=link_to essay.prompt.content, essay_path(essay) %></p>
              <hr>
             <% elsif essay.category != "Supplement" %>
              <p><%=link_to (essay.category ? "(#{essay.category}) " : '') + essay.title, essay_path(essay) %></p>
             <% else %>
              <p><%=link_to essay.category, essay_path(essay) %></p>
              <hr>
             <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <br>
      <% if @prompt_essays && @prompt_essays.length > 1 %>
        <div class="sidebar-module">
            <h6 style="text-decoration: underline;">This essay from other students</h6>
            <ol class="list-unstyled">
              <% @prompt_essays.each do |essay| %>
                <% unless essay == @essay %>
                  <li><%= link_to "#{essay.application.student_name}", essay_path(essay)%></li>
                <% end %>
              <% end %>
            </ol>
        </div>
      <% end %>
    </div><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</div><!-- /.container -->