<p id="notice"><%= notice %></p>
Author:<%= @essay.application.student_name %>
<% if @essay.prompt %>
<h4><%= simple_format(@essay.prompt.content) %></h4>
<% else %>
<h4>Prompt Not Available</h4>
<% end %>
<p>Essay Type: <%= @essay.category %></p>
<p><%= simple_format(@essay.content) %></p>
<% if current_user.admin? %>
<%= link_to 'Edit', edit_essay_path(@essay) %>
<% end %>
<%= link_to "Return to #{@essay.application.student_name}'s Application", application_path(@essay.application) %>
