<p id="notice"><%= notice %></p>
Author:<%= @essay.application.student_name %>
<% if @essay.prompt %>
<h4><%= @essay.prompt.content %></h4>
<% else %>
<h4>Prompt Not Available</h4>
<% end %>
<p>Essay Type: <%= @essay.category %></p>
<p><%= @essay.content %></p>
<%= link_to 'Edit', edit_essay_path(@essay) %> |
<%= link_to "Return to #{@essay.application.student_name}'s Application", application_path(@essay.application) %>
